{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>Add New Item</h2>

  <form method="POST">
    {% csrf_token %}
    
    <!-- Checklist Item -->
    <div class="form-group">
      <label for="title">Enter Name:</label>
      <input type="text" id="title" name="title" class="form-control" value="{{ form.title.value }}" required>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ form.phone_number.value }}" required>
    </div>

    

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Add Item</button>
  </form>
  
 
<h2>Your Checklist</h2>
<ul>
    {% for item in checklist_items %}
        <li>
            <strong>{{ item.title }}</strong>
            {% if not item.completed %}
                <form method="POST" action="{% url 'complete_item' item.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Mark as Complete</button>
                </form>
            {% else %}
                <span>Completed</span>
            {% endif %}
            <form method="POST" action="{% url 'delete_item' item.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>



{% endblock %}
