{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Completed Items</h1>
<ol>
  {% for item in completed_items %}
    <li>
      <strong>Name:</strong> {{ item.title }}<br>
      <strong>Category:</strong> {{ item.get_category_display }}<br>
      <strong>Phone Number:</strong> {{ item.phone_number }}<br>
      <strong>Start Date:</strong> {{ item.created_date|date:"Y-m-d H:i:s" }}
    </li>
  {% empty %}
    <p>No completed items found.</p>
  {% endfor %}
</ol>




{% endblock %}
