{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <h1 class="mb-4">Completed Items</h1>

  {% if completed_items %}
    <ol class="list-group list-group-numbered">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Start Date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in completed_items %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.get_category_display }}</td>
              <td>{{ item.phone_number }}</td>
              <td>{{ item.created_date|date:"Y-m-d H:i:s" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </ol>
  {% else %}
    <p class="text-muted">No completed items found.</p>
  {% endif %}
</div>

{% endblock %}
